{% extends "Foodstagram/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <div>
    <p style="font-size:15px;">
            <div> </div>
            <div> </div>
              Eunuchs are often seen on the streets begging for money and are often discrimated against. 
              we are living in the 21st century yet this part of our community is alienated.
              <div><b>EUnited</b> is a small step towards the upliftment of this community.	</p></div>
               
      <div> <iframe width="700" height="345" src="https://www.youtube.com//embed/Thd01KP73D0? autoplay=1&mute=1">
      </iframe></div>
	<p style="font-size:15px;"> 
              This is a platform that aims to slightly normalize eunuchs living in our society. 
              We offer job postings which can be put up by various organisations for the eunuchs,
              in fields not necessarily related to academics but any other field which requires skills
              which the eunuchs usually have or can develop easily. We offer a service where we can 
              connect various users to buy products which the eunuchs make. The eunuchs can upload 
              products or handicrafts which they wish to sell, and people who are interested can get in
              contact and buy them. We aim to bring a little financial stability and improved standard of 
              living for eunuchs in todays world.

	</p>
	</div>
{% endblock content %}
